requests
beautifulsoup4
langchain
langchain-community
openai
lxml
urllib3
certifi
colorama
httpx

google-generativeai
langchain_google_genai
faiss-cpu
azure-cognitiveservices-speech


numpy
easyocr
werkzeug



###########################
flask
pandas
sentence_transformers
PyMuPDF
Pygments

################### Gemini ##############
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
pillow
streamlit
streamlit-option-menu
langchain_community
gtts 
SpeechRecognition 
playsound==1.2.2

qdrant-client

pymongo
aiofiles
aiohttp
reportlab
gevent
gunicorn